<!DOCTYPE html>
<html>
  <head>
    <title>ES6</title>
  </head>
  <body>
    <h1>这是练习gulp的页面111111</h1>
    <p>Welcome to es6</p>
    <p>这是一个元素</p>

    <script src="./../js/index.js"></script>
  </body>
</html>